<div class="container-xxl flex-grow-1 container-p-y">
	<div class="row">
		<div class="col-lg-8 mb-4 order-0">
			<div class="card">
				<div class="d-flex align-items-end row">
					<div class="col-sm-7">
						<div class="card-body">
							<h5 class="card-title text-primary">Congratulations
								{{user.username}}! 🎉</h5>
							<p class="mb-4">Congratulations on your new orders. Select
								the order tab or press the button below to track the latest
								orders</p>

							<a href="#!order" class="btn btn-sm btn-outline-primary">View
								ORDERS</a>
						</div>
					</div>
					<div class="col-sm-5 text-center text-sm-left">
						<div class="card-body pb-0 px-0 px-md-4">
							<img src="../assets/img/illustrations/man-with-laptop-light.png"
								height="140" alt="View Badge User"
								data-app-dark-img="illustrations/man-with-laptop-dark.png"
								data-app-light-img="illustrations/man-with-laptop-light.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 order-1">
			<div class="row">
				<div class="col-lg-6 col-md-12 col-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div
								class="card-title d-flex align-items-start justify-content-between">
								<div class="avatar flex-shrink-0">
									<img src="../assets/img/icons/unicons/chart-success.png"
										alt="chart success" class="rounded" />
								</div>
								<div class="dropdown">
									<button class="btn p-0" type="button" id="cardOpt3"
										data-bs-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<i class="bx bx-dots-vertical-rounded"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-end"
										aria-labelledby="cardOpt3">
										<a class="dropdown-item" href="javascript:void(0);">View
											More</a> <a class="dropdown-item" href="javascript:void(0);">Delete</a>
									</div>
								</div>
							</div>
							<span class="fw-semibold d-block mb-1">Total Orders</span>
							<h3 class="card-title mb-2">{{firstRow.totalOrder}}</h3>
							<small class="text-success fw-semibold"><i
								class="bx bx-up-arrow-alt"></i>Today +{{firstRow.todayOrder}}
								orders</small>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div
								class="card-title d-flex align-items-start justify-content-between">
								<div class="avatar flex-shrink-0">
									<img src="../assets/img/icons/unicons/wallet-info.png"
										alt="Credit Card" class="rounded" />
								</div>
								<div class="dropdown">
									<button class="btn p-0" type="button" id="cardOpt6"
										data-bs-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<i class="bx bx-dots-vertical-rounded"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-end"
										aria-labelledby="cardOpt6">
										<a class="dropdown-item" href="javascript:void(0);">View
											More</a> <a class="dropdown-item" href="javascript:void(0);">Delete</a>
									</div>
								</div>
							</div>
							<span>Available</span>
							<h3 class="card-title text-nowrap mb-1">{{firstRow.available}}</h3>
							<small class="text-success fw-semibold"><i
								class="bx bx-up-arrow-alt"></i>Total : {{firstRow.totalProduct}}
								products</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Total Revenue -->
		<div class="col-12 col-lg-8 order-2 order-md-3 order-lg-2 mb-4">
			<div class="secondRowContent row">
				<div class="col-6">
					<div class="card border-0 mb-2">
						<h5 class="card-header m-0 me-2 pb-3">
							Revenue $ <span class="card-title text-white badge bg-primary">Last
								7 days</span>
						</h5>
						<div class="card-body">
							<canvas id="myLineChartRevenue"></canvas>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card border-0 mb-2">
						<h5 class="card-header m-0 me-2 pb-3">
							Products purchased By Categories <span
								class="card-title text-white badge bg-primary">Last 365
								days</span>
						</h5>
						<div class="card-body">
							<canvas id="myBarChartSoldByType"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ Total Revenue -->
		<div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
			<div class="row">
				<div class="col-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div
								class="card-title d-flex align-items-start justify-content-between">
								<div class="avatar flex-shrink-0">
									<img src="../assets/img/icons/unicons/paypal.png"
										alt="Credit Card" class="rounded" />
								</div>
								<div class="dropdown">
									<button class="btn p-0" type="button" id="cardOpt4"
										data-bs-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<i class="bx bx-dots-vertical-rounded"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-end"
										aria-labelledby="cardOpt4">
										<a class="dropdown-item" href="javascript:void(0);">View
											More</a> <a class="dropdown-item" href="javascript:void(0);">Delete</a>
									</div>
								</div>
							</div>
							<span class="d-block mb-1">Payments</span>
							<h3 class="card-title text-nowrap mb-2">${{firstRow.totalIncome
								| number:0}}</h3>
							<small class="text-danger fw-semibold"><i
								class="bx bx-down-up-alt"></i>Today +${{firstRow.todayIncome |
								number:0}}</small>
						</div>
					</div>
				</div>
				<div class="col-6 mb-4">
					<div class="card">
						<div class="card-body">
							<div
								class="card-title d-flex align-items-start justify-content-between">
								<div class="avatar flex-shrink-0">
									<img src="../assets/img/icons/unicons/cc-primary.png"
										alt="Credit Card" class="rounded" />
								</div>
								<div class="dropdown">
									<button class="btn p-0" type="button" id="cardOpt1"
										data-bs-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<i class="bx bx-dots-vertical-rounded"></i>
									</button>
									<div class="dropdown-menu" aria-labelledby="cardOpt1">
										<a class="dropdown-item" href="javascript:void(0);">View
											More</a> <a class="dropdown-item" href="javascript:void(0);">Delete</a>
									</div>
								</div>
							</div>
							<span class="fw-semibold d-block mb-1">Total Customer</span>
							<h3 class="card-title mb-2">{{firstRow.totalCustomer}}</h3>
							<small class="text-success fw-semibold"><i
								class="bx bx-up-arrow-alt"></i>Today : {{firstRow.todayCustomer}}
								customers</small>
						</div>
					</div>
				</div>
				<!-- </div>
    <div class="row"> -->

			</div>
		</div>
	</div>
	<div class="row">
		<!-- Order Statistics -->
		<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
			<div class="thirdRowContent row">
				<div class="col-12">
					<div class="card border-0 mb-2 h-100">
						<h5 class="card-header m-0 me-2 pb-3">
							Products purchased By Categories <span
								class="card-title text-white badge bg-primary">In total</span>
						</h5>
						<div class="card-body">
							<canvas id="myBarChartProductByCateAvailable"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ Order Statistics -->

		<!-- Expense Overview -->
		<div class="col-md-6 col-lg-8 order-1 mb-8">
			<div class="thirdRowContent row">
				<div class="col-12">
					<div class="card border-0 mb-2 h-100">
						<h5 class="card-header m-0 me-2 pb-3">
							Available/Unavailable Products By Category Name <span
								class="card-title text-white badge bg-primary">In total</span>
						</h5>
						<div class="card-body">
							<canvas id="myBarChartAvailableRate"></canvas>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ Expense Overview -->
	</div>
	<div class="forthRowContent row ">
		<div class="col mt-2">
			<div class="card border-0 mb-2">
				<h5 class="card-header m-0 me-2 pb-3">
					Top 10 Sold Products <span
						class="card-title text-white badge bg-primary">In total</span>
				</h5>
				<div class="card-body">
					<canvas id="myBarChartTop10Product"></canvas>
				</div>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="col mt-2">
			<div class="card border-0 mb-2">
				<h5 class="card-header m-0 me-2 pb-3">
					Top Customer <span
						class="card-title text-white badge bg-primary">In total</span>
				</h5>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Id</th>
									<th>Image</th>
									<th ng-click="sort='name';load(0)">Name</th>
									<th>Fullname</th>
									<th>Email</th>
									<th>Total Payment</th>
								</tr>
							</thead>
							<tbody class="table-border-bottom-0">
								<tr class="table-light" ng-repeat="item in pager.items"
									ng-click="edit(item)">
									<td>{{item[0]}}</td>
									<td>
										<ul
											class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
											<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
												data-bs-placement="top" class="avatar avatar-xl pull-up"
												title="{{item[4]}}"><img
												ng-src="/avatars/{{item[4]}}" alt="Avatar"
												class="rounded" /></li>
										</ul>
									</td>
									<td><strong>{{item[1] }}</strong></td>
									<td><strong>{{item[2]}}</strong></td>
									<td><strong>{{item[3]}}</strong></td>
									<td><strong>{{item[5]}} VND</strong></td>
								</tr>
							</tbody>
						</table>
						<div class="justify-content-center mt-2 mb-2 w-100"
							style="text-align: center;">
							<button ng-click="pager.first()" class="btn btn-info">
								<i class='bx bxs-chevrons-left mb-1'></i>
							</button>
							<button ng-click="pager.previous()" class="btn btn-info">
								<i class='bx bxs-chevron-left mb-1'></i>
							</button>
							<button class="btn btn-success">{{pager.page+1}}
								of {{pager.count}}</button>
							<button ng-click="pager.next()" class="btn btn-info">
								<i class='bx bxs-chevron-right mb-1'></i>
							</button>
							<button ng-click="pager.last()" class="btn btn-info">
								<i class='bx bxs-chevrons-right mb-1'></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- / Content -->
<div class="content-backdrop fade"></div>