<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h1 class="card-title text-center mb-5 fw-light fs-3 fw-bold">ĐĂNG NHẬP</h1>
                    <form name="frmLogin">
                        <div class="form-floating mb-3">
                            <input type="text" ng-model="username" name="username" class="form-control" placeholder="Tên tài khoản"
                                autocomplete="off" autofocus required maxlength="25">
                            <label>Tên đăng nhập</label>
                            <small ng-show="frmLogin.username.$invalid" id="username" class="form-text text-danger">Vui lòng nhập tên đăng nhập</small>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" ng-model="password" name="password" class="form-control" placeholder="Mật khẩu" required maxlength="25">
                            <label>Mật khẩu</label>
                            <small ng-show="frmLogin.password.$invalid" id="password" class="form-text text-danger">Vui lòng nhập mật khẩu</small>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox">
                            <label class="form-check-label">
                                Nhớ mật khẩu
                            </label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit"
                                ng-click="dangNhap()">Đăng nhập</button>
                        </div>
                        <hr class="my-4">
                        <div class="d-grid mb-2">
                            <button class="btn btn-google btn-login text-uppercase fw-bold" type="submit">
                                <i class="fab fa-google me-2"></i> Đăng nhập bằng Google
                            </button>
                        </div>
                        <div class="d-grid mb-4">
                            <button class="btn btn-facebook btn-login text-uppercase fw-bold" type="submit">
                                <i class="fab fa-facebook-f me-2"></i> Đăng nhập bằng Facebook
                            </button>
                        </div>
                        <div class="row text-center">
                            <p>Chưa có tài khoản ? <a href="#!dangky">Đăng ký tại đây</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>