USE [DATN_FoodStore]
GO
/****** Object:  Table [dbo].[cart]    Script Date: 12/11/2022 7:34:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](300) NOT NULL,
	[display_name] [nvarchar](300) NULL,
	[description] [nvarchar](1000) NULL,
	[image_name] [varchar](300) NULL,
	[color] [varchar](50) NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[type] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category_foods]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category_foods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_id] [bigint] NOT NULL,
	[food_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[review_id] [bigint] NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](1000) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[code] [nvarchar](100) NULL,
	[description] [nvarchar](1000) NULL,
	[user_limit] [bigint] NOT NULL,
	[food_limit] [bigint] NOT NULL,
	[amount] [float] NOT NULL,
	[is_fixed] [bit] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[status] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_coupons]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_coupons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[coupon_id] [bigint] NOT NULL,
	[create_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer_phone_address]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer_phone_address](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[is_address] [bit] NOT NULL,
	[phone_or_address] [nvarchar](500) NULL,
	[is_default] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[fullname] [nvarchar](100) NULL,
	[gender] [bit] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[birthday] [datetime] NULL,
	[avatar] [varchar](100) NULL,
	[remember_token] [varchar](100) NULL,
	[code] [nvarchar](100) NULL,
	[status] [bigint] NULL,
	[create_date] [datetime] NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[discounts]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[discounts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[amount] [float] NOT NULL,
	[is_fixed] [bit] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_coupons]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_coupons](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[coupon_id] [bigint] NOT NULL,
	[create_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foods]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[price] [float] NOT NULL,
	[quantity_limit] [bigint] NOT NULL,
	[view_count] [bigint] NOT NULL,
	[description] [nvarchar](1000) NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NOT NULL,
	[is_display] [bit] NOT NULL,
	[status] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[histories]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[histories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[create_date] [datetime] NULL,
	[record_id] [bigint] NOT NULL,
	[table_name] [varchar](100) NOT NULL,
	[memo] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[image_name] [varchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notifications]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[record_id] [bigint] NOT NULL,
	[table_name] [varchar](100) NOT NULL,
	[content] [nvarchar](1000) NULL,
	[create_at] [datetime] NULL,
	[is_watched] [bigint] NOT NULL,
	[color] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[food_id] [bigint] NOT NULL,
	[quantity] [bigint] NOT NULL,
	[price] [float] NOT NULL,
	[discount_amount] [float] NOT NULL,
	[is_fixed] [bit] NOT NULL,
	[coupon_code] [varchar](100) NULL,
	[status] [bigint] NOT NULL,
	[memo] [nvarchar](1000) NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[payment_id] [bigint] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[shipped_date] [datetime] NULL,
	[shipped_address] [nvarchar](500) NULL,
	[shipped_phone] [nvarchar](50) NULL,
	[fee] [float] NOT NULL,
	[paid_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
	[is_watched] [bit] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paymentmethods]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paymentmethods](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[code] [nvarchar](100) NULL,
	[status] [bigint] NULL,
	[image_name] [nvarchar](100) NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[display_name] [nvarchar](100) NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[food_id] [bigint] NOT NULL,
	[customer_id] [bigint] NOT NULL,
	[rating] [bigint] NOT NULL,
	[views] [bigint] NOT NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[status] [bigint] NOT NULL,
	[is_favorite] [bit] NOT NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[role_id] [bigint] NOT NULL,
	[permission_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[display_name] [nvarchar](100) NOT NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_permissions]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[permission_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 12/11/2022 7:34:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[fullname] [nvarchar](200) NULL,
	[gender] [bit] NOT NULL,
	[phone] [varchar](100) NULL,
	[email] [varchar](100) NOT NULL,
	[birthday] [date] NULL,
	[avatar] [nvarchar](100) NULL,
	[address] [nvarchar](200) NULL,
	[remember_token] [varchar](100) NULL,
	[code] [varchar](100) NULL,
	[status] [bigint] NULL,
	[create_date] [datetime] NULL,
	[create_by] [bigint] NULL,
	[is_display] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [display_name], [description], [image_name], [color], [create_date], [create_by], [is_display], [type]) VALUES (1, N'rautron', N'Rau trộn', N'Rau trộn', N'2717fb07.jpg', N'#111111', CAST(N'2022-01-26T00:00:00.000' AS DateTime), 1, 1, 0)
INSERT [dbo].[categories] ([id], [name], [display_name], [description], [image_name], [color], [create_date], [create_by], [is_display], [type]) VALUES (2, N'com', N'Cơm', N'Cơm', N'6ffe3061.jpg', N'#37c854', CAST(N'2022-01-21T00:00:00.000' AS DateTime), 1, 1, 0)
INSERT [dbo].[categories] ([id], [name], [display_name], [description], [image_name], [color], [create_date], [create_by], [is_display], [type]) VALUES (3, N'ga', N'Gà', N'Gà', N'33c30e17.jpg', N'#111111', CAST(N'2022-01-09T00:00:00.000' AS DateTime), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[category_foods] ON 

INSERT [dbo].[category_foods] ([id], [category_id], [food_id]) VALUES (1, 2, 1)
INSERT [dbo].[category_foods] ([id], [category_id], [food_id]) VALUES (2, 2, 4)
INSERT [dbo].[category_foods] ([id], [category_id], [food_id]) VALUES (21, 6, 22)
SET IDENTITY_INSERT [dbo].[category_foods] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([id], [review_id], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (2, 192, N'$1.00 ', N'🚾 🆒 🆓 🆕 🆖 🆗 🆙 🏧', CAST(N'2020-11-23T00:00:00.000' AS DateTime), CAST(N'2020-04-23T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[comments] ([id], [review_id], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (3, 8, N'ÅÍÎÏ˝ÓÔÒÚÆ☃', N'١٢٣', CAST(N'2020-02-03T00:00:00.000' AS DateTime), CAST(N'2021-06-24T00:00:00.000' AS DateTime), 0, 1)
INSERT [dbo].[comments] ([id], [review_id], [title], [content], [create_date], [update_date], [status], [is_display]) VALUES (4, 111, N'1', N'-1', CAST(N'2021-05-29T00:00:00.000' AS DateTime), CAST(N'2022-06-02T00:00:00.000' AS DateTime), 0, 1)
GO
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[customer_phone_address] ON 

INSERT [dbo].[customer_phone_address] ([id], [customer_id], [is_address], [phone_or_address], [is_default]) VALUES (1, 77, 0, N'81903 Haas Court', 0)
INSERT [dbo].[customer_phone_address] ([id], [customer_id], [is_address], [phone_or_address], [is_default]) VALUES (2, 20, 1, N'+62 364 979 9780', 0)
INSERT [dbo].[customer_phone_address] ([id], [customer_id], [is_address], [phone_or_address], [is_default]) VALUES (3, 36, 1, N'+54 647 890 1277', 1)
GO
SET IDENTITY_INSERT [dbo].[customer_phone_address] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [username], [password], [fullname], [gender], [email], [birthday], [avatar], [remember_token], [code], [status], [create_date], [is_display]) VALUES (1, N'user', N'123', N'User', 1, N'lucdtps17380@fpt.edu.vn', NULL, N'user.png', NULL, NULL, 0, NULL, 1)
INSERT [dbo].[customers] ([id], [username], [password], [fullname], [gender], [email], [birthday], [avatar], [remember_token], [code], [status], [create_date], [is_display]) VALUES (2, N'ccalverd0', N'nrL74o2I', N'Che Calverd', 0, N'ccalverd0@yelp.com', CAST(N'1983-07-01T00:00:00.000' AS DateTime), N'user.png', N'', N'', 0, CAST(N'2021-04-16T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[customers] ([id], [username], [password], [fullname], [gender], [email], [birthday], [avatar], [remember_token], [code], [status], [create_date], [is_display]) VALUES (3, N'lleidl1', N'Got224a', N'Lisette Leidl', 0, N'lleidl1@amazon.co.uk', CAST(N'1995-08-24T00:00:00.000' AS DateTime), N'user.png', N'', N'', 0, CAST(N'2020-05-19T00:00:00.000' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[discounts] ON 

INSERT [dbo].[discounts] ([id], [food_id], [name], [amount], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display]) VALUES (1, 1, N'Chương trình khuyến mãi tháng 12', 10000, 1, CAST(N'2022-11-21T00:00:00.000' AS DateTime), CAST(N'2022-11-29T00:00:00.000' AS DateTime), CAST(N'2022-11-22T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[discounts] ([id], [food_id], [name], [amount], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display]) VALUES (2, 2, N'Chương trình khuyến mãi tháng 12', 10, 0, CAST(N'2022-11-27T00:00:00.000' AS DateTime), CAST(N'2022-12-11T00:00:00.000' AS DateTime), CAST(N'2022-11-22T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[discounts] ([id], [food_id], [name], [amount], [is_fixed], [start_date], [end_date], [create_date], [create_by], [is_display]) VALUES (3, 3, N'Chương trình khuyến mãi tháng 12', 20000, 1, CAST(N'2022-11-28T00:00:00.000' AS DateTime), CAST(N'2022-12-06T00:00:00.000' AS DateTime), CAST(N'2022-11-25T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[foods] ON 

INSERT [dbo].[foods] ([id], [name], [price], [quantity_limit], [view_count], [description], [create_date], [create_by], [is_display], [status]) VALUES (1, N'Cơm Gà Xối Mỡ', 55000, 100, 30, N'Cơm Gà Xối Mỡ', CAST(N'2022-11-14T00:00:00.000' AS DateTime), 1, 1, 1)
INSERT [dbo].[foods] ([id], [name], [price], [quantity_limit], [view_count], [description], [create_date], [create_by], [is_display], [status]) VALUES (2, N'Bánh Tráng Chấm', 30000, 50, 3, N'Bánh Tráng Chấm', CAST(N'2022-11-15T00:00:00.000' AS DateTime), 1, 1, 2)
INSERT [dbo].[foods] ([id], [name], [price], [quantity_limit], [view_count], [description], [create_date], [create_by], [is_display], [status]) VALUES (3, N'Bánh Mì', 25000, 70, 50, N'Bánh Mì', CAST(N'2022-11-16T00:00:00.000' AS DateTime), 1, 1, 3)
SET IDENTITY_INSERT [dbo].[foods] OFF
GO
SET IDENTITY_INSERT [dbo].[images] ON 

INSERT [dbo].[images] ([id], [food_id], [image_name]) VALUES (6, 2, N'23b6100e.jpg')
INSERT [dbo].[images] ([id], [food_id], [image_name]) VALUES (7, 2, N'3bf80aad.jpg')
INSERT [dbo].[images] ([id], [food_id], [image_name]) VALUES (8, 2, N'3c06222e.jpg')
GO
SET IDENTITY_INSERT [dbo].[images] OFF
GO
SET IDENTITY_INSERT [dbo].[notifications] ON 

INSERT [dbo].[notifications] ([id], [customer_id], [record_id], [table_name], [content], [create_at], [is_watched], [color]) VALUES (1, 1, 117, N'order', N'Bạn đã đặt đơn hàng #117 thành công!', CAST(N'2022-11-29T22:21:39.533' AS DateTime), 1, N'#007BFF')
INSERT [dbo].[notifications] ([id], [customer_id], [record_id], [table_name], [content], [create_at], [is_watched], [color]) VALUES (3, 1, 118, N'order', N'Bạn đã đặt đơn hàng #118 thành công!', CAST(N'2022-11-30T10:24:21.690' AS DateTime), 1, N'#007BFF')
INSERT [dbo].[notifications] ([id], [customer_id], [record_id], [table_name], [content], [create_at], [is_watched], [color]) VALUES (4, 1, 119, N'order', N'Bạn đã đặt đơn hàng #119 thành công!', CAST(N'2022-12-04T00:41:22.810' AS DateTime), 1, N'#007BFF')
SET IDENTITY_INSERT [dbo].[notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [food_id], [quantity], [price], [discount_amount], [is_fixed], [coupon_code], [status], [memo], [is_display]) VALUES (1, 9, 12, 9, 33684, 33, 0, N'', 0, N'', 1)
INSERT [dbo].[order_details] ([id], [order_id], [food_id], [quantity], [price], [discount_amount], [is_fixed], [coupon_code], [status], [memo], [is_display]) VALUES (2, 56, 10, 6, 86092, 0, 0, N'', 0, N'', 1)
INSERT [dbo].[order_details] ([id], [order_id], [food_id], [quantity], [price], [discount_amount], [is_fixed], [coupon_code], [status], [memo], [is_display]) VALUES (3, 69, 14, 3, 75058, 0, 0, N'', 0, N'', 1)
GO
SET IDENTITY_INSERT [dbo].[order_details] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [customer_id], [payment_id], [order_date], [shipped_date], [shipped_address], [shipped_phone], [fee], [paid_date], [status], [is_watched], [is_display]) VALUES (1, 55, 1, CAST(N'2022-05-04T11:53:00.000' AS DateTime), CAST(N'2021-05-23T19:03:00.000' AS DateTime), N'', N'+995 912 670 6154', 16725, NULL, 2, 1, 1)
INSERT [dbo].[orders] ([id], [customer_id], [payment_id], [order_date], [shipped_date], [shipped_address], [shipped_phone], [fee], [paid_date], [status], [is_watched], [is_display]) VALUES (2, 73, 2, CAST(N'2021-04-16T17:16:00.000' AS DateTime), CAST(N'2020-10-01T03:10:00.000' AS DateTime), N'', N'+595 187 367 3116', 1634, NULL, 1, 1, 1)
INSERT [dbo].[orders] ([id], [customer_id], [payment_id], [order_date], [shipped_date], [shipped_address], [shipped_phone], [fee], [paid_date], [status], [is_watched], [is_display]) VALUES (3, 85, 2, CAST(N'2022-06-09T11:45:00.000' AS DateTime), CAST(N'2021-12-25T02:34:00.000' AS DateTime), N'11 Anderson Point', N'+1 574 268 6086', 33143, CAST(N'2021-05-27T03:57:00.000' AS DateTime), 4, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[paymentmethods] ON 

INSERT [dbo].[paymentmethods] ([id], [name], [description], [code], [status], [image_name], [is_display]) VALUES (1, N'Direct', NULL, NULL, 0, NULL, 1)
INSERT [dbo].[paymentmethods] ([id], [name], [description], [code], [status], [image_name], [is_display]) VALUES (2, N'ATM', NULL, NULL, 0, NULL, 1)
INSERT [dbo].[paymentmethods] ([id], [name], [description], [code], [status], [image_name], [is_display]) VALUES (3, N'Momo', NULL, NULL, 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[paymentmethods] OFF
GO
SET IDENTITY_INSERT [dbo].[permissions] ON 

INSERT [dbo].[permissions] ([id], [name], [display_name], [is_display]) VALUES (1, N'USE01', N'USER View', 1)
INSERT [dbo].[permissions] ([id], [name], [display_name], [is_display]) VALUES (2, N'USE02', N'USER Update', 1)
INSERT [dbo].[permissions] ([id], [name], [display_name], [is_display]) VALUES (3, N'USE03', N'USER Create', 1)
SET IDENTITY_INSERT [dbo].[permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [food_id], [customer_id], [rating], [views], [create_date], [update_date], [status], [is_favorite], [is_display]) VALUES (1, 15, 26, 2, 43, CAST(N'2021-02-24T00:00:00.000' AS DateTime), CAST(N'2020-04-17T00:00:00.000' AS DateTime), 1, 0, 1)
INSERT [dbo].[reviews] ([id], [food_id], [customer_id], [rating], [views], [create_date], [update_date], [status], [is_favorite], [is_display]) VALUES (2, 10, 51, 4, 34, CAST(N'2021-03-01T00:00:00.000' AS DateTime), CAST(N'2022-04-25T00:00:00.000' AS DateTime), 1, 0, 1)
INSERT [dbo].[reviews] ([id], [food_id], [customer_id], [rating], [views], [create_date], [update_date], [status], [is_favorite], [is_display]) VALUES (3, 20, 38, 2, 88, CAST(N'2020-08-14T00:00:00.000' AS DateTime), CAST(N'2021-04-11T00:00:00.000' AS DateTime), 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[reviews] OFF
GO
SET IDENTITY_INSERT [dbo].[role_permissions] ON 

INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id]) VALUES (1, 1, 1)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id]) VALUES (2, 1, 2)
INSERT [dbo].[role_permissions] ([id], [role_id], [permission_id]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[role_permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [name], [display_name], [create_date], [create_by], [is_display]) VALUES (1, N'system', N'SYSTEM ADMIN', NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [name], [display_name], [create_date], [create_by], [is_display]) VALUES (2, N'accounting', N'ACCOUNTING', NULL, NULL, 1)
INSERT [dbo].[roles] ([id], [name], [display_name], [create_date], [create_by], [is_display]) VALUES (3, N'productmanager', N'PRODUCT MANAGER', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[user_permissions] ON 

INSERT [dbo].[user_permissions] ([id], [user_id], [permission_id]) VALUES (2, 2, 5)
INSERT [dbo].[user_permissions] ([id], [user_id], [permission_id]) VALUES (4, 2, 6)
INSERT [dbo].[user_permissions] ([id], [user_id], [permission_id]) VALUES (3, 3, 6)
SET IDENTITY_INSERT [dbo].[user_permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[user_roles] ON 

INSERT [dbo].[user_roles] ([id], [user_id], [role_id]) VALUES (1, 1, 1)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id]) VALUES (9, 2, 2)
INSERT [dbo].[user_roles] ([id], [user_id], [role_id]) VALUES (4, 3, 3)
SET IDENTITY_INSERT [dbo].[user_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [fullname], [gender], [phone], [email], [birthday], [avatar], [address], [remember_token], [code], [status], [create_date], [create_by], [is_display]) VALUES (1, N'admin', N'123', N'System Admin', 1, N'0123456789', N'kaykaku15@gmail.com', NULL, N'user.png', NULL, NULL, NULL, 0, NULL, NULL, 1)
INSERT [dbo].[users] ([id], [username], [password], [fullname], [gender], [phone], [email], [birthday], [avatar], [address], [remember_token], [code], [status], [create_date], [create_by], [is_display]) VALUES (2, N'phuong', N'321', N'Võ Đình Duy Phương', 1, N'0983213138', N'phuong@fpt.edu.vn', CAST(N'2001-08-05' AS Date), N'user.png', N'Công viên phần mềm quang trung', N'234', N'qwe', 1, CAST(N'2022-11-15T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[users] ([id], [username], [password], [fullname], [gender], [phone], [email], [birthday], [avatar], [address], [remember_token], [code], [status], [create_date], [create_by], [is_display]) VALUES (3, N'hau', N'234', N'Trần Phúc Hậu', 1, N'0799901243', N'hau@fpt.edu.vn', CAST(N'2001-11-28' AS Date), N'user.png', N'Thành phố tân an ', N'345', N'asd', 1, CAST(N'2022-11-16T00:00:00.000' AS DateTime), 1, 1)
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [UQ__category__47BA2D68D52BDBFF]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[category_foods] ADD UNIQUE NONCLUSTERED 
(
	[category_id] ASC,
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__customer__48E93DBC24093A1F]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[customer_coupons] ADD UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__F3DBC5721E2EEC51]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_customers_email]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UQ_customers_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__food_cou__AAC0BBE1AA14C1D3]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[food_coupons] ADD UNIQUE NONCLUSTERED 
(
	[food_id] ASC,
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__images__63756948A4E636A4]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[images] ADD UNIQUE NONCLUSTERED 
(
	[image_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__paymentm__72E12F1B8CE2DD10]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[paymentmethods] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__2C57587618197A31]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[display_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permissi__72E12F1B80A5670A]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[permissions] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__reviews__639A11611002FC82]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[reviews] ADD UNIQUE NONCLUSTERED 
(
	[food_id] ASC,
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__role_per__C85A5462E163C5EC]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[role_permissions] ADD UNIQUE NONCLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__2C57587641F0D2FC]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[display_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1BCA3F41CD]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__user_per__07ED06A1293856E1]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[user_permissions] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__user_rol__6EDEA1523A17EA77]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[user_roles] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC572C5623D70]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_email]    Script Date: 12/11/2022 7:34:24 AM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[cart]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD  CONSTRAINT [FK__categorie__creat__440B1D61] FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[categories] CHECK CONSTRAINT [FK__categorie__creat__440B1D61]
GO
ALTER TABLE [dbo].[category_foods]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[category_foods]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[reviews] ([id])
GO
ALTER TABLE [dbo].[coupons]  WITH CHECK ADD  CONSTRAINT [FK__coupons__create___72C60C4A] FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[coupons] CHECK CONSTRAINT [FK__coupons__create___72C60C4A]
GO
ALTER TABLE [dbo].[customer_coupons]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[customer_coupons]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[customer_phone_address]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD  CONSTRAINT [FK__discounts__creat__5070F446] FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[discounts] CHECK CONSTRAINT [FK__discounts__creat__5070F446]
GO
ALTER TABLE [dbo].[discounts]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[food_coupons]  WITH CHECK ADD FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[food_coupons]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD  CONSTRAINT [FK__foods__create_by__412EB0B6] FOREIGN KEY([create_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[foods] CHECK CONSTRAINT [FK__foods__create_by__412EB0B6]
GO
ALTER TABLE [dbo].[histories]  WITH CHECK ADD  CONSTRAINT [FK__histories__user___3E52440B] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[histories] CHECK CONSTRAINT [FK__histories__user___3E52440B]
GO
ALTER TABLE [dbo].[images]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[notifications]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[paymentmethods] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([id])
GO
ALTER TABLE [dbo].[user_permissions]  WITH CHECK ADD  CONSTRAINT [FK__user_perm__user___35BCFE0A] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_permissions] CHECK CONSTRAINT [FK__user_perm__user___35BCFE0A]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK__user_role__user___30F848ED] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK__user_role__user___30F848ED]
GO
