<!-- Content wrapper -->
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Raleway);

.image-main-title {
	color: #2d2d2d;
	text-align: center;
	text-transform: capitalize;
	padding: 0.7em 0;
}

.image-container {
	padding: 1em 0;
	float: left;
	width: auto;
}

.image-container .image-title {
	color: #1a1a1a;
	text-align: center;
	margin-bottom: 10px;
}

.image-content {
	position: relative;
	width: max-content;
	max-width: 400px;
	margin: auto;
	overflow: hidden;
}

.image-content .image-content-overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 99%;
	width: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.image-content:hover .image-content-overlay {
	opacity: 1;
}

.image-content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.image-content:hover .image-content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}

.image-content-details h3 {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.image-content-details p {
	color: #fff;
	font-size: 0.8em;
}

.image-fadeIn-bottom {
	top: 80%;
}

.image-fadeIn-top {
	top: 20%;
}

.image-fadeIn-left {
	left: 20%;
}

.image-fadeIn-right {
	left: 80%;
}
</style>
<div class="content-wrapper">
	<!-- Content -->
	<div class="container-xxl flex-grow-1 container-p-y">
		<!-- Contextual Classes -->
		<div class="card">
			<h5 class="card-header">Authorizing EDITION</h5>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-4">
						<select id="sendNotification" class="form-select" ng-model="a.id" ng-change="getAu(a.id)"
							name="sendNotification">
							<option ng-repeat="r in roles" ng-value="r.id">{{r.name}}</option>
						</select>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<table
					class="table table-hover table-striped table-borderless border-bottom">
					<thead>
						<tr>
							<th>Photo</th>
							<th>Username</th>
							<th ng-repeat="role in roles" class="text-center">{{role.name}}</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<tr ng-repeat="acc in pager.admins">
							<td>
								<ul
									class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
									<li data-bs-toggle="tooltip" data-popup="tooltip-custom"
										data-bs-placement="top" class="avatar avatar-xl pull-up"
										title="${item.name}"><img ng-src="/avatar/{{acc.photo}}"
										alt="Avatar" class="rounded" /></li>
								</ul>
							</td>
							<td><strong>{{acc.username }}</strong></td>
							<td ng-repeat="role in roles" class="text-center"><input
								ng-checked="authority_of(acc,role)" class="form-check-input"
								ng-click="authority_changed(acc,role)" type="checkbox" /></td>
						</tr>
					</tbody>
				</table>
				<div class="justify-content-center mt-2 mb-2 w-100"
					style="text-align: center;">
					<button ng-click="pager.first()" class="btn btn-info">
						<i class='bx bxs-chevrons-left mb-1'></i>
					</button>
					<button ng-click="pager.previous()" class="btn btn-info">
						<i class='bx bxs-chevron-left mb-1'></i>
					</button>
					<button class="btn btn-success">{{pager.page+1}} of
						{{pager.count}}</button>
					<button ng-click="pager.next()" class="btn btn-info">
						<i class='bx bxs-chevron-right mb-1'></i>
					</button>
					<button ng-click="pager.last()" class="btn btn-info">
						<i class='bx bxs-chevrons-right mb-1'></i>
					</button>
				</div>
			</div>
		</div>
		<!-- /Notifications -->
	</div>
</div>



<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>