<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/user/layout/layoutUser.html :: dynamic(~{::body})}">
<body>
<!-- What We Offer-->
    <section class="section section-md bg-default">
      <div class="container">
        <h4 class="oh-desktop">Danh mục</h4>
        <div class="row row-md row-30">
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInUp">
                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc1.jpg}" alt="" width="370" height="278" />
                </div>
                <div class="services-terri-caption">
                  <h5 class="services-terri-title"><a href="#">Cà phê</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInDown">
                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc2.jpg}" alt="" width="370" height="278" />
                </div>
                <div class="services-terri-caption">
                  <h5 class="services-terri-title"><a href="#">Pizza</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInUp">
                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc3.jpg}" alt="" width="370" height="278" />
                </div>
                <div class="services-terri-caption">
                  <h5 class="services-terri-title"><a href="#">Bánh mì</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInDown">
                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc4.jpg}" alt="" width="370" height="278" />
                </div>
                <div class="services-terri-caption">
                  <h5 class="services-terri-title"><a href="#">Cơm tấm</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInUp">
                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc5.jpg}" alt="" width="370" height="278" />
                </div>
                <div class="services-terri-caption">
                  <h5 class="services-terri-title"><a href="#">Trà sữa</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInDown">
                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc6.jpg}" alt="" width="370" height="278" />
                </div>
                <div class="services-terri-caption">
                  <h5 class="services-terri-title"><a href="#">Gà rán</a></h5>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Our Shop-->
    <section class="section section-lg bg-default">
      <div class="container">
        <h4 class="oh-desktop"><span class="d-inline-block wow slideInUp">Sản phẩm mới</span></h4>
        <div class="row row-lg row-30">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-new">Mới</span>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-lg bg-default">
      <div class="container">
        <h4 class="oh-desktop"><span class="d-inline-block wow slideInUp">Sản phẩm khuyến mãi</span></h4>
        <div class="row row-lg row-30">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-lg bg-default">
      <div class="container">
        <h4 class="oh-desktop"><span class="d-inline-block wow slideInUp">Sản phẩm bán chạy</span></h4>
        <div class="row row-lg row-30">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img th:src="@{/assets/user/images/product-1-161x162.png}" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
        </div>
      </div>
    </section>

    <section class="section section-lg bg-default">
      <div class="container">
        <h4 class="oh-desktop"><span class="d-inline-block wow slideInUp">Sản phẩm yêu thích nhất</span></h4>
        <div class="row row-lg row-30">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Thêm vào giỏ </a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="chitietsanpham.html">Xem sản phẩm</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="spyeuthich.html">Yêu thích</a></div>

            </article>
          </div>
        </div>
      </div>
    </section>
    <!-- Tell-->
    <section class="section section-sm section-first bg-default">
      <div class="container">
        <h4 class="heading-5">GỬI TIN NHẮN NGAY CHO FoodStore <br> KHI BẠN CẦN HỖ TRỢ HOẶC CÓ THẮC MẮC NHÉ!</h4>
        <form class="rd-form rd-mailform form-style-1" data-form-output="form-output-global" data-form-type="contact"
          method="post" action="bat/rd-mailform.php">
          <div class="row row-20 gutters-20">
            <div class="col-md-6 col-lg-4 oh-desktop">
              <div class="form-wrap wow slideInDown">
                <input class="form-input" id="contact-your-name-6" type="text" name="name">
                <label class="form-label" for="contact-your-name-6">Họ và tên*</label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 oh-desktop">
              <div class="form-wrap wow slideInUp">
                <input class="form-input" id="contact-email-6" type="email" name="email">
                <label class="form-label" for="contact-email-6">E-mail*</label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 oh-desktop">
              <div class="form-wrap wow slideInUp">
                <input class="form-input" id="contact-tel-6" type="tel" name="phone">
                <label class="form-label" for="contact-email-6">Số điện thoại*</label>
              </div>
            </div>
            <div class="col-12">
              <div class="form-wrap wow fadeIn">
                <label class="form-label" for="contact-message-6">Lời nhắn</label>
                <textarea class="form-input textarea-lg" id="contact-message-6" name="message"></textarea>
              </div>
            </div>
          </div>
          <div class="group-custom-1 group-middle oh-desktop">
            <button class="button button-lg button-primary button-winona wow fadeInRight" type="submit">Gửi</button>
          </div>
        </form>
      </div>
    </section>

    <!-- Section Services  Last section-->
    <section class="section section-sm bg-default">
      <div class="container">
        <div class="owl-carousel owl-style-11 dots-style-2" data-items="1" data-sm-items="1" data-lg-items="2"
          data-xl-items="3" data-margin="30" data-dots="true" data-mouse-drag="true" data-rtl="true">
          <article class="box-icon-megan wow fadeInUp">
            <div class="box-icon-megan-header">
              <div class="box-icon-megan-icon linearicons-bag"></div>
            </div>
            <h5 class="box-icon-megan-title"><a href="#">Giao hàng nhanh</a></h5>
            </p>
          </article>
          <article class="box-icon-megan wow fadeInUp" data-wow-delay=".05s">
            <div class="box-icon-megan-header">
              <div class="box-icon-megan-icon linearicons-map2"></div>
            </div>
            <h5 class="box-icon-megan-title"><a href="#">Vị trí thuận tiện</a></h5>
          </article>
          <article class="box-icon-megan wow fadeInUp" data-wow-delay=".15s">
            <div class="box-icon-megan-header">
              <div class="box-icon-megan-icon linearicons-thumbs-up"></div>
            </div>
            <h5 class="box-icon-megan-title"><a href="#">Dịch vụ tốt nhất</a></h5>
          </article>
        </div>
      </div>
    </section>
</body>
</html>