<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/layoutUser.html :: dynamic(~{::body})}">
<body>
	<!-- Begin Product Area -->
	<div class="product-area-5 pt-95">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3 class="heading">DANH MỤC</h3>
						<h6>Lướt qua để xem tiếp các danh mục khác</h6>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="quicky-element-carousel product-slider"
						data-slick-options='{
                            "slidesToShow": 3,
                            "slidesToScroll": 1,
                            "infinite": false,
                            "arrows": false,
                            "dots": false,
                            "spaceBetween": 30
                            }'
						data-slick-responsive='[
                            {"breakpoint":992, "settings": {
                            "slidesToShow": 2
                            }},
                            {"breakpoint":480, "settings": {
                            "slidesToShow": 1
                            }}
                        ]'>

						<div class="product-item" th:each="item: ${@Utils.categories}">
							<div class="single-product">
								<div class="product-img">
									<a th:href="@{|/byCategory/${item.name}|}"> <img
										th:src="@{|/images/${item.image_name}|}"
										alt="Quicky's Product Image" height="200px;">
									</a>
								</div>
								<div class="product-content">
									<div class="product-desc_info">
										<h3 class="product-name font-weight-bold text-center"
											th:text="${item.display_name}"></h3>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Product Area End Here -->

	<!-- Begin Product Area Six -->
	<div class="product-area-6 pt-95">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3 class="heading">SẢN PHẨM MỚI NHẤT</h3>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="quicky-element-carousel product-slider"
						data-slick-options='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": false,
                        "dots": false,
                        "spaceBetween": 30,
                        "rows" : 2
                        }'
						data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":480, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>

						<div class="product-item">
							<div class="single-product">
								<div class="product-img">
									<a> <img src="" alt="Quicky's Product Image">
									</a>
									<div class="add-actions hover-right_side">
										<ul>
											<li class="quick-view-btn" data-toggle="modal"
												data-target="#exampleModalCenter"><a href=""
												data-toggle="tooltip" data-placement="left"
												title="Quick View"><i class="icon-magnifier"></i></a></li>
											<li><a href="" data-toggle="tooltip"
												data-placement="left" title="Add To cart"><i
													class="icon-bag"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="product-desc_info">
										<h3 class="product-name"></h3>
										<div class="price-box">
											<span class="new-price"></span>
										</div>
										<div
											class="review-area d-flex justify-content-between align-items-center">
											<div class="rating-box">
												<ul>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- 				<div class="row text-center" th:if="${totalPages > 1}"> -->
				<!-- 					<div class="col-lg-12 mb-5"> -->
				<!-- 						<div class="quicky-paginatoin-area"> -->
				<!-- 							<ul class="quicky-pagination-box"> -->
				<!-- 								<li th:style="${currentPage == 1} ? 'visibility: hidden' : ''"> -->
				<!-- 									<a class="Next" -->
				<!-- 									th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage - 1)}}">Trước</a> -->
				<!-- 								</li> -->
				<!-- 								<li th:each="i: ${#numbers.sequence(1, totalPages)}" -->
				<!-- 									th:class="${currentPage == i} ? 'active' : ''"><a -->
				<!-- 									th:href="@{'?page=' + ${i}}" th:text="${i}">1</a></li> -->
				<!-- 								<li -->
				<!-- 									th:style="${currentPage == totalPages} ? 'visibility: hidden' : ''"> -->
				<!-- 									<a class="Next" -->
				<!-- 									th:href="@{${curretnPage < totalPages} ? ${'?page=' + (currentPage + 1)}}">Tiếp</a> -->
				<!-- 								</li> -->
				<!-- 							</ul> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
			</div>
		</div>
	</div>
	<!-- Product Area Six End Here -->
	<div class="product-area-6 pt-95">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3 class="heading">SẢN PHẨM KHUYẾN MÃI</h3>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="quicky-element-carousel product-slider"
						data-slick-options='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": false,
                        "dots": false,
                        "spaceBetween": 30,
                        "rows" : 2
                        }'
						data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":480, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>

						<div class="product-item">
							<div class="single-product">
								<div class="product-img">
									<a> <img src="" alt="Quicky's Product Image">
									</a>
									<div class="add-actions hover-right_side">
										<ul>
											<li class="quick-view-btn" data-toggle="modal"
												data-target="#exampleModalCenter"><a href=""
												data-toggle="tooltip" data-placement="left"
												title="Quick View"><i class="icon-magnifier"></i></a></li>
											<li><a href="" data-toggle="tooltip"
												data-placement="left" title="Add To cart"><i
													class="icon-bag"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="product-desc_info">
										<h3 class="product-name"></h3>
										<div class="price-box">
											<span class="new-price"></span>
										</div>
										<div
											class="review-area d-flex justify-content-between align-items-center">
											<div class="rating-box">
												<ul>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- 				<div class="row text-center" th:if="${totalPages > 1}"> -->
				<!-- 					<div class="col-lg-12 mb-5"> -->
				<!-- 						<div class="quicky-paginatoin-area"> -->
				<!-- 							<ul class="quicky-pagination-box"> -->
				<!-- 								<li th:style="${currentPage == 1} ? 'visibility: hidden' : ''"> -->
				<!-- 									<a class="Next" -->
				<!-- 									th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage - 1)}}">Trước</a> -->
				<!-- 								</li> -->
				<!-- 								<li th:each="i: ${#numbers.sequence(1, totalPages)}" -->
				<!-- 									th:class="${currentPage == i} ? 'active' : ''"><a -->
				<!-- 									th:href="@{'?page=' + ${i}}" th:text="${i}">1</a></li> -->
				<!-- 								<li -->
				<!-- 									th:style="${currentPage == totalPages} ? 'visibility: hidden' : ''"> -->
				<!-- 									<a class="Next" -->
				<!-- 									th:href="@{${curretnPage < totalPages} ? ${'?page=' + (currentPage + 1)}}">Tiếp</a> -->
				<!-- 								</li> -->
				<!-- 							</ul> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
			</div>
		</div>
	</div>
	<div class="product-area-6 pt-95">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h3 class="heading">SẢN PHẨM BÁN CHẠY</h3>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="quicky-element-carousel product-slider"
						data-slick-options='{
                        "slidesToShow": 3,
                        "slidesToScroll": 1,
                        "infinite": false,
                        "arrows": false,
                        "dots": false,
                        "spaceBetween": 30,
                        "rows" : 2
                        }'
						data-slick-responsive='[
                        {"breakpoint":992, "settings": {
                        "slidesToShow": 2
                        }},
                        {"breakpoint":480, "settings": {
                        "slidesToShow": 1
                        }}
                    ]'>

						<div class="product-item">
							<div class="single-product">
								<div class="product-img">
									<a> <img src="" alt="Quicky's Product Image">
									</a>
									<div class="add-actions hover-right_side">
										<ul>
											<li class="quick-view-btn" data-toggle="modal"
												data-target="#exampleModalCenter"><a href=""
												data-toggle="tooltip" data-placement="left"
												title="Quick View"><i class="icon-magnifier"></i></a></li>
											<li><a href="" data-toggle="tooltip"
												data-placement="left" title="Add To cart"><i
													class="icon-bag"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="product-content">
									<div class="product-desc_info">
										<h3 class="product-name"></h3>
										<div class="price-box">
											<span class="new-price"></span>
										</div>
										<div
											class="review-area d-flex justify-content-between align-items-center">
											<div class="rating-box">
												<ul>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
													<li><i class="icon-star"></i></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- 				<div class="row text-center" th:if="${totalPages > 1}"> -->
				<!-- 					<div class="col-lg-12 mb-5"> -->
				<!-- 						<div class="quicky-paginatoin-area"> -->
				<!-- 							<ul class="quicky-pagination-box"> -->
				<!-- 								<li th:style="${currentPage == 1} ? 'visibility: hidden' : ''"> -->
				<!-- 									<a class="Next" -->
				<!-- 									th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage - 1)}}">Trước</a> -->
				<!-- 								</li> -->
				<!-- 								<li th:each="i: ${#numbers.sequence(1, totalPages)}" -->
				<!-- 									th:class="${currentPage == i} ? 'active' : ''"><a -->
				<!-- 									th:href="@{'?page=' + ${i}}" th:text="${i}">1</a></li> -->
				<!-- 								<li -->
				<!-- 									th:style="${currentPage == totalPages} ? 'visibility: hidden' : ''"> -->
				<!-- 									<a class="Next" -->
				<!-- 									th:href="@{${curretnPage < totalPages} ? ${'?page=' + (currentPage + 1)}}">Tiếp</a> -->
				<!-- 								</li> -->
				<!-- 							</ul> -->
				<!-- 						</div> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
			</div>
		</div>
	</div>
</body>
</html>


