<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/user/layout/layoutUser.html :: dynamic(~{::body})}">
<body>
		<!--Form login-->
        <div class="container" style="text-align: left;">
            <div class="row">
                <div class="col-md-7 offset-md-3">
                    <div class="login-form">
                        <h5 class="card-title text-center mb-5 fw-light fs-5">Đăng nhập</h5>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Tên đăng nhập</label>
                                <input type="text" class=" form-input" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Tên đăng nhập">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1"> Mật khẩu</label>
                                <input type="password" class="form-input" id="exampleInputPassword1"
                                    placeholder="Mật khẩu">
                            </div>
                            <div class="form-group form-check ml-4">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1"> Nhớ mật khẩu</label>
                            </div>
                            <button type="submit" class="btn btn-primary"> Đăng nhập</button>
                            <hr class="my-4">

                            <div class="d-grid mb-2">
                                <button class="btn btn-google btn-login w-100" type="submit">
                                  <span class="fab fa-google me-2"></span> Sign in with Google
                                </button>
                              </div>
                              <div class="d-grid">
                                <button class="btn btn-facebook btn-login w-100" type="submit">
                                  <span class="fab fa-facebook-f me-2"></span> Sign in with Facebook
                                </button>
                              </div>
                              <p class="text-center text-muted mt-5 mb-0 ">Bạn chưa có tài khoản? <a href="dangky.html"
                                class="fw-bold text-body"><u>Đăng ký ngay!</u></a></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>