<!-- <!DOCTYPE html> -->
<!-- <html xmlns:th="http://www.thymeleaf.org" -->
<!-- th:replace="~{/user/layout/layoutUser.html :: dynamic(~{::body})}"> -->
<!-- <body> -->
<!-- <!--Detail--> -->
<!--         <main role="main"> -->
<!--             Block content - Đục lỗ trên giao diện bố cục chung, đặt tên là `content` -->
<!--             <div class="container mt-4 mb-5"> -->
<!--                 <div id="thongbao" class="alert alert-danger d-none face" role="alert"> -->
<!--                     <button type="button" class="close" data-dismiss="alert" aria-label="Close"> -->
<!--                         <span aria-hidden="true">×</span> -->
<!--                     </button> -->
<!--                 </div> -->
    
<!--                 <div class="card"> -->
<!--                     <div class="container-fliud"> -->
<!--                         <form> -->
<!--                             <div class="wrapper row"> -->
<!--                                 <div class="preview col-md-6"> -->
<!--                                     <div class="preview-pic tab-content"> -->
<!--                                         <div class="tab-pane" id="pic-1"> -->
<!--                                             <img src="images/danhmuc5.jpg"> -->
<!--                                         </div> -->
<!--                                         <div class="tab-pane" id="pic-2"> -->
<!--                                             <img src="images/danhmuc5.jpg"> -->
<!--                                         </div> -->
<!--                                         <div class="tab-pane active" id="pic-3"> -->
<!--                                             <img src="images/danhmuc5.jpg"> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <ul class="preview-thumbnail nav nav-tabs"> -->
<!--                                         <li class="active"> -->
<!--                                             <a data-target="#pic-1" data-toggle="tab" class=""> -->
<!--                                                 <img src="images/danhmuc5.jpg"> -->
<!--                                             </a> -->
<!--                                         </li> -->
<!--                                         <li class=""> -->
<!--                                             <a data-target="#pic-2" data-toggle="tab" class=""> -->
<!--                                                 <img src="images/danhmuc5.jpg"> -->
<!--                                             </a> -->
<!--                                         </li> -->
<!--                                         <li class=""> -->
<!--                                             <a data-target="#pic-3" data-toggle="tab" class="active"> -->
<!--                                                 <img src="images/danhmuc5.jpg"> -->
<!--                                             </a> -->
<!--                                         </li> -->
<!--                                     </ul> -->
<!--                                 </div> -->
<!--                                 <div class="details col-md-6 text-left"> -->
<!--                                     <h6 class="product-title">Trà sữa truyền thống</h6> -->
<!--                                     <div class="rating"> -->
<!--                                         <div class="stars"> -->
<!--                                             <span class="fa fa-star checked"></span> -->
<!--                                             <span class="fa fa-star checked"></span> -->
<!--                                             <span class="fa fa-star checked"></span> -->
<!--                                             <span class="fa fa-star"></span> -->
<!--                                             <span class="fa fa-star"></span> -->
<!--                                         </div> -->
<!--                                         <span class="review-no">999 reviews</span> -->
<!--                                     </div> -->
<!--                                     <p class="product-description">Bao gồm topping trân châu và thạch. </p> -->
<!--                                     <small class="text-muted">Giá cũ: <s><span>35.000 vnđ</span></s></small> -->
<!--                                     <p class="price">Giá hiện tại: <span>29.000 vnđ</span></p> -->
<!--                                     <p class="sizes">sizes: -->
<!--                                         <span class="size" data-toggle="tooltip" title="cỡ Nhỏ">s</span> -->
<!--                                         <span class="size" data-toggle="tooltip" title="cỡ Trung bình">m</span> -->
<!--                                         <span class="size" data-toggle="tooltip" title="cỡ Lớn">l</span> -->
<!--                                     </p> -->
<!--                                     <div class="form-group"> -->
<!--                                         <label for="soluong">Số lượng đặt mua:</label> -->
<!--                                         <input type="number" class="form-input" id="soluong" name="soluong"> -->
<!--                                     </div> -->
<!--                                     <div class="action"> -->
<!--                                         <a class="add-to-cart btn btn-default">Thêm vào giỏ hàng</a> -->
<!--                                         <a class="like btn btn-default" href="#"><span class="fa fa-heart"></span></a> -->
<!--                                     </div> -->
<!--                                 </div> -->
    
<!--                             </div> -->
<!--                         </form> -->
<!--                     </div> -->
<!--                 </div> -->
    
<!--                 <div class="card text-left"> -->
<!--                     <div class="container-fluid"> -->
<!--                         <h5>Thông tin chi tiết về Sản phẩm</h5> -->
<!--                         <div class="row"> -->
<!--                             <div class="col"> -->
<!--                                 ... -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--             End block content -->
<!--         </main> -->
<!-- </body> -->
<!-- </html> -->
