<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/user/layout/layoutUser.html :: dynamic(~{::body})}">

<body>
<!-- What We Offer-->
        <section class="section section-md bg-default">
            <div class="container">
                <h4 class="oh-desktop">Danh mục</h4>
                <div class="row row-md row-30">
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <!-- Services Terri-->
                            <article class="services-terri wow slideInUp">
                                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc1.jpg}" alt="" width="370"
                                        height="278" />
                                </div>
                                <div class="services-terri-caption">
                                    <h5 class="services-terri-title"><a href="#">Cà phê</a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <!-- Services Terri-->
                            <article class="services-terri wow slideInDown">
                                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc2.jpg}" alt="" width="370"
                                        height="278" />
                                </div>
                                <div class="services-terri-caption">
                                    <h5 class="services-terri-title"><a href="#">Pizza</a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <!-- Services Terri-->
                            <article class="services-terri wow slideInUp">
                                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc3.jpg}" alt="" width="370"
                                        height="278" />
                                </div>
                                <div class="services-terri-caption">
                                    <h5 class="services-terri-title"><a href="#">Bánh mì</a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <!-- Services Terri-->
                            <article class="services-terri wow slideInDown">
                                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc4.jpg}" alt="" width="370"
                                        height="278" />
                                </div>
                                <div class="services-terri-caption">
                                    <h5 class="services-terri-title"><a href="#">Cơm tấm</a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <!-- Services Terri-->
                            <article class="services-terri wow slideInUp">
                                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc5.jpg}" alt="" width="370"
                                        height="278" />
                                </div>
                                <div class="services-terri-caption">
                                    <h5 class="services-terri-title"><a href="#">Trà sữa</a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="oh-desktop">
                            <!-- Services Terri-->
                            <article class="services-terri wow slideInDown">
                                <div class="services-terri-figure"><img th:src="@{/assets/user/images/danhmuc6.jpg}" alt="" width="370"
                                        height="278" />
                                </div>
                                <div class="services-terri-caption">
                                    <h5 class="services-terri-title"><a href="#">Gà rán</a></h5>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--sản phẩm -->
        <section class="section section-lg bg-default">
            <div class="container">
                <h4 class="oh-desktop"><span class="d-inline-block wow slideInUp">Sản phẩm</span></h4>
                <div class="row row-lg row-30">
                    <div class="col-sm-6 col-lg-4 col-xl-3" th:each="item: ${foods}">
                        <!-- Product-->
                        <article class="product wow fadeInLeft" data-wow-delay=".15s">
                            <div class="product-figure"><img src="images/product-1-161x162.png" alt="" width="161"
                                    height="162" />
                            </div>
                            <div class="product-rating"><span class="mdi mdi-star"></span><span
                                    class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span
                                    class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                            </div>
                            <h6 class="product-title" th:text="${item.name}"></h6>
                            <div class="product-price-wrap">
                                <div class="product-price" th:text="${#numbers.formatCurrency(item.price)}"></div>
                            </div>
                            <div class="product-button">
                                <div class="button-wrap"><a class="button button-xs button-primary button-winona"
                                        href="#">Thêm vào giỏ </a></div>
                                <div class="button-wrap"><a class="button button-xs button-secondary button-winona"
                                        th:href="@{|productDetail/${item.id}|}">Xem sản phẩm</a></div>
                                <div class="button-wrap"><a class="button button-xs button-secondary button-winona"
                                        href="spyeuthich.html">Yêu thích</a></div>

                        </article>
                    </div>
                </div>
            </div>
        </section>

        <div class="center mt-5 mb-5">
            <div class="pagination">
            <a th:style="${currentPage == 1} ? 'visibility: hidden' : ''"
               th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage - 1)}}">&laquo;</a>
            	
            <a th:each="i : ${#numbers.sequence(1, totalPages)}" 
               th:class="${currentPage == i} ? 'active' : ''"
               th:href="@{'?page=' + ${i}}" >[[${i}]]</a>
               
            <a th:style="${currentPage == totalPages} ? 'visibility: hidden' : ''"
               th:href="@{${curretnPage < totalPages} ? ${'?page=' + (currentPage + 1)}}">&raquo;</a>
            </div>
          </div>

</body>
</html>