<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/layout/layoutUser.html :: dynamic(~{::body})}">
<body th:onload="getTotalQuantity(); getTotalPrice()">
	<!-- Begin Quicky's Content Wrapper Area -->
	<div class="quicky-content_wrapper pt-90 pb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<div class="quicky-sidebar-catagories_area">
						<div class="quicky-sidebar_categories">
							<div class="quicky-categories_title first-child">
								<h5>Tìm Theo Giá</h5>
							</div>
							<div class="price-filter">
								<div id="slider-range"></div>
								<div class="price-slider-amount">
									<div class="label-input">
										<label>Giá : </label> <input type="text" id="amount"
											name="price" placeholder="Add Your Price" />
									</div>
								</div>
							</div>
						</div>
						<div class="quicky-sidebar_categories category-module">
							<div class="quicky-categories_title">
								<h5>Danh Mục</h5>
							</div>
							<div class="sidebar-categories_menu">
								<ul>
									<li th:each="item: ${@Utils.categories}"><a
										th:href="@{|/byCategory/${item.name}|}">[[${item.display_name}]]</a>
									</li>
									<li><a th:href="@{/shop}">Tất cả</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 order-1 order-lg-2">
					<div class="shop-product-wrap grid gridview-3 row">
						<div class="col-12" th:each="item: ${foods}">
							<div class="product-item">
								<div class="single-product">
									<div class="product-img">
										<a th:href="@{|/productDetail/${item.id}|}"> <img
											th:if="${item.getFood_images().get(0).getImage_name()} != null"
											th:src="@{|/images/${item.getFood_images().get(0).getImage_name()}|}"
											alt="Quicky's Product Image" height="250px;" />
										</a>
										<div class="add-actions">
											<ul>
												<li class="quick-view-btn" data-toggle="modal"
													data-target="#exampleModalCenter"><a
													th:href="@{|/productDetail/${item.id}|}"
													data-toggle="tooltip" data-placement="top" title="Chi tiết"><i
														class="icon-magnifier"></i></a></li>
												<li><a data-toggle="tooltip" data-placement="top"
													th:attr="onclick='addToCart(\'' + ${item.id} + '\')'"
													title="Thêm vào giỏ hàng"><i class="icon-bag"></i></a></li>
											</ul>
										</div>
									</div>
									<div class="product-content bg-snow">
										<div class="product-desc_info">
											<h3 class="product-name">
												<a th:href="@{|productDetail/${item.id}|}"
													th:text="${item.name}"></a>
											</h3>
											<div class="price-box">
												<span class="new-price ml-0"
													th:text="${#numbers.formatDecimal(item.price, 1, 'POINT', 0, 'COMMA') + ' VNĐ'}"></span>
											</div>
											<div
												class="review-area d-flex justify-content-between align-items-center">
												<div class="rating-box gamboge-color">
													<ul>
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
														<li><i class="icon-star"></i></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" th:if="${totalPages > 1}">
						<div class="col-lg-12">
							<div class="quicky-paginatoin-area">
								<ul class="quicky-pagination-box">
									<li th:style="${currentPage == 1} ? 'visibility: hidden' : ''">
										<a class="Next"
										th:href="@{${currentPage > 1} ? ${'?page=' + (currentPage - 1)}}">Trước</a>
									</li>
									<li th:each="i: ${#numbers.sequence(1, totalPages)}"
										th:class="${currentPage == i} ? 'active' : ''"><a
										th:href="@{'?page=' + ${i}}" th:text="${i}">1</a></li>
									<li
										th:style="${currentPage == totalPages} ? 'visibility: hidden' : ''">
										<a class="Next"
										th:href="@{${curretnPage < totalPages} ? ${'?page=' + (currentPage + 1)}}">Tiếp</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script>
		const addToCart = (productId) =>{
		 	const url = '/rest/cart/add?id=' + productId + '&quantity=1&isReplace=false';
		 	$.ajax({
				url : url,
				type : 'GET',
				dataType : 'json',
				success : function(data) {
					refreshQuantity();
					refreshPrice();
				},
				error : function(error) {
					console.log(error);
					alert("Add To Cart Failed!");
				}
			});
		}
		
		const refreshQuantity = () =>{
			const url = '/rest/cart/refreshQuantity';
			$.ajax({
				url: url,
				type: 'GET',
				dataType: 'json',
				success: function(data){
					localStorage.setItem("quantity", data);
					var quantity = localStorage.getItem("quantity");
					$('#headerTotalQuantity').text(quantity);
				},
				error: function(error){
					console.log(error);
					alert(error);
				}
			});
		}
		
		const refreshPrice = () =>{
			const url = '/rest/cart/refreshPrice';
			$.ajax({
				url: url,
				type: 'GET',
				dataType: 'json',
				success: function(data){
					localStorage.setItem("price", data);
					var price = localStorage.getItem("price");
					$('#headerTotalPrice').text(formatCurrency(price));
				},
				error: function(error){
					console.log(error);
					alert(error);
				}
			});
		}
		
		const formatCurrency = (x) => {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") + ' VNĐ';
		}
		
		const getTotalQuantity = () =>{
			var quantity = localStorage.getItem("quantity");
			if(quantity === null){
				$('#headerTotalQuantity').text(0);
			} else {
				$('#headerTotalQuantity').text(quantity);
			}
		}
		
		const getTotalPrice = () =>{
			var price = localStorage.getItem("price");
			if(price === null){
				$('#headerTotalPrice').text(0);
			} else {
				$('#headerTotalPrice').text(price);
			}
		}
		
		
	</script>

</body>
</html>
