<!-- Begin Footer Area -->
<div class="footer-area">
  <div class="footer-top_area bg-buttery-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="footer-widgets_area">
            <div class="logo-area">
              <a href="javascript:void(0)">
                <img th:src="@{/assets/user/images/footer/1.png}" alt="Quicky's Logo" />
              </a>
            </div>
            <p class="short-desc">
              Produce and supply various Handi craft items all over the world
              which were very attractive
            </p>
            <div class="social-link">
              <ul>
                <li class="facebook">
                  <a
                    href="https://www.facebook.com"
                    data-toggle="tooltip"
                    target="_blank"
                    title="Facebook"
                  >
                    <i class="icon-social-facebook"></i>
                  </a>
                </li>
                <li class="twitter">
                  <a
                    href="https://twitter.com"
                    data-toggle="tooltip"
                    target="_blank"
                    title="Twitter"
                  >
                    <i class="icon-social-twitter"></i>
                  </a>
                </li>
                <li class="google-plus">
                  <a
                    href="javascript:void(0)"
                    data-toggle="tooltip"
                    target="_blank"
                    title="Google Plus"
                  >
                    <i class="icon-social-skype"></i>
                  </a>
                </li>
                <li class="instagram">
                  <a
                    href="https://www.instagram.com/"
                    data-toggle="tooltip"
                    target="_blank"
                    title="Instagram"
                  >
                    <i class="icon-social-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="footer-widgets_area">
            <h3 class="heading">Quick Link</h3>
            <div class="footer-widgets">
              <ul>
                <li><a href="javascript:void(0)">About us</a></li>
                <li><a href="javascript:void(0)">Our Service</a></li>
                <li><a href="javascript:void(0)">Pages</a></li>
                <li><a href="javascript:void(0)">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="footer-widgets_area">
            <h3 class="heading">Information</h3>
            <div class="footer-widgets">
              <ul>
                <li><a href="javascript:void(0)">Payment System</a></li>
                <li><a href="javascript:void(0)">Return Policy</a></li>
                <li><a href="javascript:void(0)">Terms & Conditins</a></li>
                <li><a href="javascript:void(0)">Quick Support</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="footer-widgets_area">
            <h3 class="heading">Get in Touch</h3>
            <div class="footer-widgets">
              <p class="address-info">
                265, South Block, Holly City Main Street, Melbourne, Australia
              </p>
              <div class="widgets-mail">
                <a href="mailto://info@example.com">info@example.com</a>
                <a href="https://www.example.com">www.example.com</a>
              </div>
              <a class="widgets-contects" href="tel://+0981 2568 658"
                >+0981 2568 658</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Area End Here -->
