<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org"
	th:fragment="dynamic(view)">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<title>Home</title>
<meta name="robots" content="noindex, follow" />
<meta name="description" content="" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/assets/images/favicon.ico}" />

<!-- CSS
	============================================ -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/assets/css/vendor/bootstrap.min.css}" />
<!-- Material Design Iconic Font -->
<link rel="stylesheet"
	th:href="@{/assets/css/vendor/material-design-iconic-font.css}" />
<!-- Simple Line Icons -->
<link rel="stylesheet"
	th:href="@{/assets/css/vendor/simple-line-icons.css}" />
<!-- Local Font -->
<link rel="stylesheet" th:href="@{/assets/css/vendor/font.css}" />
<!-- Slick CSS -->
<link rel="stylesheet" th:href="@{/assets/css/plugins/slick.css}" />
<!-- Animation -->
<link rel="stylesheet" th:href="@{/assets/css/plugins/animate.css}" />
<!-- jQuery Ui -->
<link rel="stylesheet"
	th:href="@{/assets/css/plugins/jquery-ui.min.css}" />
<!-- Nice Select -->
<link rel="stylesheet" th:href="@{/assets/css/plugins/nice-select.css}" />
<!-- Timecircles -->
<link rel="stylesheet" th:href="@{/assets/css/plugins/timecircles.css}" />
<!-- Main Style CSS (Please use minify version for better website load performance) -->
<link rel="stylesheet" th:href="@{/assets/css/style.css}" />
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
</head>

<body class="template-color-3 font-family-01">
	<div class="main-wrapper">
		<!-- menu -->
		<th:block th:include="/user/layout/_header.html"></th:block>

		<!--main -->
		<div class="container-fuild mx-auto">
			<div th:replace="${view}"></div>
		</div>

		<!-- footer -->
		<th:block th:include="/user/layout/_footer.html"></th:block>

		<!-- Scroll To Top Start -->
		<a class="scroll-to-top" href=""><i class="icon-arrow-up"></i></a>
		<!-- Scroll To Top End -->
	</div>

	<!-- JS
    ============================================ -->
	<!-- jQuery JS -->
	<script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
	<!-- Modernizer JS -->
	<script th:src="@{/assets/js/vendor/modernizr-2.8.3.min.js}"></script>
	<!-- Popper JS -->
	<script th:src="@{/assets/js/vendor/popper.min.js}"></script>
	<!-- Bootstrap JS -->
	<script th:src="@{/assets/js/vendor/bootstrap.min.js}"></script>

	<!-- Slick Slider JS -->
	<script th:src="@{/assets/js/plugins/slick.min.js}"></script>
	<!-- Barrating JS -->
	<script th:src="@{/assets/js/plugins/jquery.barrating.min.js}"></script>
	<!-- Counterup JS -->
	<script th:src="@{/assets/js/plugins/jquery.counterup.js}"></script>
	<!-- Nice Select JS -->
	<script th:src="@{/assets/js/plugins/jquery.nice-select.js}"></script>
	<!-- Sticky Sidebar JS -->
	<script th:src="@{/assets/js/plugins/jquery.sticky-sidebar.js}"></script>
	<!-- Jquery-ui JS -->
	<script th:src="@{/assets/js/plugins/jquery-ui.min.js}"></script>
	<script th:src="@{/assets/js/plugins/jquery.ui.touch-punch.min.js}"></script>
	<!-- Theia Sticky Sidebar JS -->
	<script th:src="@{/assets/js/plugins/theia-sticky-sidebar.min.js}"></script>
	<!-- Waypoints JS -->
	<script th:src="@{/assets/js/plugins/waypoints.min.js}"></script>
	<!-- jQuery Zoom JS -->
	<script th:src="@{/assets/js/plugins/jquery.zoom.min.js}"></script>
	<!-- Timecircles JS -->
	<script th:src="@{/assets/js/plugins/timecircles.js}"></script>

	<!-- Main JS -->
	<script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
