    <section class="ftco-section ftco-deal bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/shopz/images/prod-1.png" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <div class="heading-section heading-section-white">
                        <span class="subheading">[[#{collection.title1}]]</span>
                        <h2 class="mb-3">[[#{collection.content1}]]</h2>
                    </div>
                    <div id="timer" class="d-flex mb-4">
                        <div class="time" id="days"></div>
                        <div class="time pl-4" id="hours"></div>
                        <div class="time pl-4" id="minutes"></div>
                        <div class="time pl-4" id="seconds"></div>
                    </div>
                    <div class="text-deal">
                        <h2><a href="#">Nike Free RN 2019 iD</a></h2>
                        <p class="price"><span class="mr-2 price-dc">$120.00</span><span class="price-sale">$80.00</span></p>
                        <ul class="thumb-deal d-flex mt-4">
                            <li class="img" style="background-image: url(/shopz/images/product-6.png);"></li>
                            <li class="img" style="background-image: url(/shopz/images/product-2.png);"></li>
                            <li class="img" style="background-image: url(/shopz/images/product-4.png);"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>